.App {
  text-align: center;
}
.body{
  background-color: #f2f2f2ff;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.themeColor_Menu{
  background-color: #36526b;
}

.themeColor_MainCenter{
  background-color: #f2f2f2ff;
}

.themeColor_Buttons{
background-color: #529daa;
transition: background-color 0.5s ease-in-out, border-radius 0.5s ease-in-out, color 0.5s ease-in-out;

}


.themeColor_Buttons:hover{
  
  background-color: #74bdc9;
  border-radius: 16px;
  color: white;
transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, color 0.3s ease-in-out;

}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
