.reg-container {
  display: flex;
  max-height: 92vh;
  background: #4c49a7;
  overflow: hidden;
  /* border-radius: 16px; */
}

/* Left Side */
.reg-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4c49a7;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px; 
  position: relative;
  overflow: hidden;
}

/* Create diagonal effect */
.reg-left::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0px; /* pushes diagonal out */
  bottom: 0;
  width: 100px;
  background: #4c49a7;
  transform: skewX(-10deg); /* Adjust diagonal angle */
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px; 
  z-index: 1;

}

/* Image */
.reg-photo {
  max-width: 95%;
  position: relative;
  z-index: 2; /* keep image above diagonal */
  border-radius: 10px;
  min-height: 96%;
  transform: skewX(-3deg);
}

/* Form Container */
.reg-form-container {
  width: 35vw;
  max-width: 360px;
  background: #4c49a7;
  padding: 40px;
  margin: 160px 20px;
  border-radius: 0 16px 16px 0;
  color: white;
  position: relative;
  z-index: 2;
}

.form-control {
  background-color: #4c49a7;
  color: white;
  /* border: 1px solid #fff; */
}

.form-control::placeholder {
  color: white;
}

/* Mobile View */
@media (max-width: 700px) {
  .reg-container {
    flex-direction: column;
    border-radius: 0;
  }

  .reg-left::before {
    display: none;
  }

  .reg-left,
  .reg-form-container {
    width: 100%;
    border-radius: 0 !important;
    box-shadow: none;
  }

  .reg-photo {
    max-width: 60vw;
  }
}
